html, body {
    background-color: #fff;
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.links {
    list-style-type: none;
    padding-left: 0;
}

.links > a {
    color: #000000;
    padding: 0 15px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
}

.links-social > a {
    padding: 0 3px;
}

.links-main > a {
    padding: 7px;
    color: #ffffff;
}

a:hover {
    text-decoration: none !important; 
    color: #EFC25D !important;
}

.m-b-md {
    margin-bottom: 30px;
}

.filter-invert{
    filter: invert(100%);
}

.navigation {
    background-color: #000000;
}

.container {
    max-width: 1400px !important;
}

.container-fluid{
    padding: 0 !important;
 }

.hero {
    background: url('/images/header_banner 1.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
}

.hero .container-hero {
    display: table-cell;
    vertical-align: middle;
    height: 689px;
    padding-left: 50%;
}

.hero-text {
    font-size: 14px;
    color: grey;
    margin-bottom: 0 !important;
}

.text-orange {
    color: #EFC25D !important;
}

.home-img {
    width: 100%; 
    max-width: 100%;
}

.solutions {
    background: url('/images/image016 1.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    height: 600px;
}


.eyecare {
    background: url('/images/c7aec8753b149c83688540f9b77391608bf22e64 1.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    height: 600px;
}

.eyecare .container-eyecare {
    display: table-cell;
    vertical-align: middle;
    height: 600px;
    width: 100%;
    padding: 50px;
}



.button {
    margin: 10px 10px 10px 0;
    padding: 10px;
    background-color: #ffffff;
    color: grey;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid grey;
}

.button-orange {
    background-color: #EFC25D;
    color: #000000;
    border: 1px solid #EFC25D;
}

.button:hover {
    border: 1px solid #EFC25D !important;
}

.button-orange:hover {
    color: #000000 !important;
    background-color: #e0ae43 !important;
}

.button-wide {
    width: 100% !important;
    text-align: center !important;
}

.button-transparent {
    background-color: unset !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
    display: block;
    margin: 0 20px;
}

.footer {
    background-color: #F6F6F8;
    margin-top: 50px;
    padding: 50px;
}

.links-footer > a {
    padding: 0 0 15px 0 !important;
}